@font-face {
    font-family: 'IBMPlexMono-Regular';
    src: local('IBMPlexMono-Regular'), url(./fonts/IBMPlexMono-Regular.woff2) format('woff');
}
@font-face {
    font-family: 'IBMPlexMono-Medium';
    src: local('IBMPlexMono-Medium'), url(./fonts/IBMPlexMono-Medium.woff2) format('woff');
}
@font-face {
    font-family: 'IBMPlexMono-SemiBold';
    src: local('IBMPlexMono-SemiBold'), url(./fonts/IBMPlexMono-SemiBold.woff2) format('woff');
}
@font-face {
  font-family: 'IBMPlexMono-Italic';
  src: local('IBMPlexMono-Italic'), url(./fonts/IBMPlexMono-Italic.woff2) format('woff');
}

body {
    font-family: IBMPlexMono-Regular;
    font-size: 14px;
    text-align: center;
}

h1, h2{
  padding-top: 30px;
  padding-bottom: 30px;
  display: inline;
  font-size: 24px;
  font-weight: normal;
}

h1{
  font-family: IBMPlexMono-SemiBold;
}

h2{
  font-family: IBMPlexMono-Regular;
}

ul {
  padding: 0 0 0 0;
}

li{
    cursor: pointer;
    display: inline;
    padding: 3px 7px 3px 7px;
    line-height: 26px;
}

li:not(:first-child)::before {
  content: "|";
  padding-right: 7px;
  font-family: IBMPlexMono-Regular;
}

li.selected {
    font-family: IBMPlexMono-SemiBold;
}

button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 24px;
  font-family: IBMPlexMono-Regular;
  font-size: 14px;
  width: 17%;
  overflow-x: hidden;
  float: right;
  margin-right: 3px;
  padding: 0;
  text-align: right;
}

span.searchBox{
  width: 50%;
  box-sizing: border-box;
  text-align: right;
  padding-right: 6px;
  display: inline-block;
}

span.searchBoxHint{
  width: 50%;
  box-sizing: border-box;
  text-align: left;
  padding-left: 6px;
  top: 4px;
  position: relative;
  display: inline-block;
  font-family: IBMPlexMono-Italic;
  overflow-x: hidden;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s linear;
}

span.searchBoxHint.visible{
  opacity: 1;
  transition: opacity 4s ease;
}

span[contenteditable="true"]{
  outline: none;
  color : transparent;
  text-shadow : 0 0 0 #000;
  white-space: nowrap;
}

span[contenteditable="true"] br {
  display:none;
}

span[contenteditable="true"] * {
  display:inline;
  white-space:nowrap;
}

div.nothing{
  padding-top: 9px;
}

div.item{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

div.item.selected{
  background-color: #E4E4E4;
}

span.leftColumn, span.rightColumn {
  padding: 3px 6px 3px 6px;
  box-sizing: border-box;
  width: 50%;
}

span.leftColumn {
  text-align: right;
}

span.leftColumn .greyed {
  text-align: right;
  color: #606060;
}

span.rightColumn {
  text-align: left;
}

span.rightColumn span{
  background-color: #5757ff;
  color: white;
  height: 26px;
  display: block;
  float: left;
  white-space: nowrap;
  text-shadow: 2px 2px #5757ff;
  padding: 4px;
  box-sizing: border-box;
}

.selected span.rightColumn span {
  background-color: #585858;
  text-shadow: 2px 2px #585858;
}

span.centerColumn {
  width: 100%;
  background-color: #F0F0F0;
  padding-bottom: 3px;
  font-family: IBMPlexMono-Italic;
  color: #606060;
}

span.centerColumn.noHighlight {
  background-color: transparent !important;
}

span.centerColumn .ttl{
  color: darkgray;
  font-size: 14px;
}

span.centerColumn .res{
  font-size: 14px;
}

span.centerColumn .unit{
  font-size: 12px;
}

span.hint{
  position: fixed;
  bottom: 10px;
  background-color: #606060;
  padding: 10px 15px 10px 15px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  animation: fade-in-out 4.5s 0.5s forwards ease;
}

@keyframes fade-in-out {
  25% { opacity: 1; background-color: #F0F0F0;}
  85% { opacity: 1; background-color: #F0F0F0;}
  100% { opacity: 0; }
}

.blink {
  animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to { visibility: hidden; }
}