body.dark {
    background-color: black;
    color:#CCCCCC;
}

body.dark button{
  color:#CCCCCC;
}

body.dark li.selected {
    color: white;
}

body.dark span[contentEditable="true"]{
  text-shadow : 0 0 0 #CCCCCC;
}

body.dark div.item.selected{
  background-color: #141414;
}