body.dark {
    background-color: black;
    color:#CCCCCC;
}

body.dark  a{
  color: #CCCCCC;
}

body.dark button{
  color:#808080;
}

body.dark li.selected {
    color: white;
}

body.dark div.item.highlight{
  background-color: #141414;
}

body.dark span[contentEditable="true"]{
  text-shadow : 0 0 0 #CCCCCC;
}

body.dark span.leftColumn .greyed {
  color: #808080;
}

body.dark div.item.selected{
    border-left-color: #E4E4E4;
    background-color: #141414;
}

body.dark span.centerColumn {
  color: #CCCCCC;
}

body.dark span.centerColumn .singleRes.selected {
  background-color: #222222;
 }

body.dark span.centerColumn .ttl{
  color: #808080;
}

/* Overdide for mobile, expanded results*/
@media (max-width: 444px)
{
  body.dark span.centerColumn .singleRes {
    border-top-color: #fff;
  }
}

body.dark span.hint{
  background-color: #A8A8A8;
  animation: fade-in-out-dark 4.5s 0.5s forwards ease;
}

body.dark img#aboutRu{
  content: url(./img/RuWhite.png);
}

body.dark img#aboutEn{
  content: url(./img/EnWhite.png);
}

@keyframes fade-in-out-dark {
  25% { opacity: 1; background-color: #585858;}
  85% { opacity: 1; background-color: #585858;}
  100% { opacity: 0; }
}